outputs
*.bak
*.*~
*.pyc
*.log
.Rhistory
.*cache
python.bat
*.yaml
/clients/python/TES_Client.ini
/clients/python/TES_*.txt
/clients/scilab/calibration*.txt
/clients/scilab/conf_user.sce
/clients/scilab/objectives.txt
.vscode